html, * {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: "Gravity", "Roboto", sans-serif;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h1 {
	color: white;
	font-size: 2rem;
	margin-bottom: 10px;
	font-weight: 800;
	letter-spacing: 0.025em;
}

h2 {
	color: white;
	font-weight: 300;
	font-size: 1.4rem;
	opacity: 0.8;
	margin-bottom: 15px;
}

h3 {
	font-size: 1.6em;
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 15px;
}

h4 {
	font-size: 1.2em;
	color: #9D2FC7;
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 20px;
}

body {
	overflow-x: hidden;
}

nav {
	position: absolute;
	width: 100vw;
	top: 0;

	display: flex;
	justify-content: space-between;
}

.logo, .nav-account-buttons {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	color: white;
	text-decoration: none;
}

.nav-register {
	display: inline-block;
	background: #FF8F00;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;

	filter: drop-shadow(0 5px 3px rgba(0,0,0,0.2));
	transition: background 0.2s, filter 0.2s, transform 0.2s;
	transition-timing-function: ease-out;
}

.nav-register:hover {
	background: #FF9C1E;
	filter: drop-shadow(0 5px 5px rgba(0,0,0,0.2));
	transform: translateY(-5%);
}

.nav-elem, .nav-register {
	color: white;
	font-size: 0.9em;
	font-weight: 600;
	text-decoration: none;
	margin-left: 25px;
}

.logo {
	font-size: 1.3em;
	font-weight: 600;
}

.content-container {
	position: relative;
	top: 45vh;
	z-index: 1;
}

header {
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	animation: slideIn 0.5s ease-out;
}

.panel {
	position: relative;
	left: 0;
	right: 0;
	top: 25vh;
	bottom: 0;
	padding: 30px;

	background: white;
	border-radius: 20px 20px 0px 0px;
}

.sale-tile-container {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	margin-top: 50px;
}

.sale-tile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	background: white;

	padding: 40px;
	margin: 25px;
	border-radius: 10px;
	border: 1px solid white;
	filter: drop-shadow(0 5px 5px rgba(0,0,0,0.2));
	transition: filter 0.2s, border 0.1s, transform 0.2s;
	transition-timing-function: ease-out;
}

.sale-tile:hover {
	border: 1px solid orange;
	filter: drop-shadow(0 5px 10px rgba(255, 143, 0, 0.5));
	transform: translateY(-3%);
}

.sale-tile.focused {
	border: 1px solid #9D2FC7;
	filter: drop-shadow(0 5px 5px rgba(157, 47, 199, 0.5));
	transition: filter 0.2s, transform 0.2s;
}

.sale-tile.focused:hover {
	filter: drop-shadow(0 5px 10px rgba(157, 47, 199, 0.5));
}

.sale-tile-info {
	margin-bottom: 25px;
}

ul {
	margin-top: 30px;
	text-align: left;
	list-style-type: none;
}

li {
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 1.1em;
}

.sale-number {
	font-size: 3.2em;
	font-weight: 300;
}

.sale-number.focused {
	color: #9D2FC7;
}

.sale-month {
	font-size: 0.6em;
	font-weight: 300;
}

.numbered-tile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	text-align: center;
	background: white;
	width: 100px;
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 40px;
	border-radius: 5px;
	filter: drop-shadow(0 5px 5px rgba(0,0,0,0.15));
}

.numbered-tile-number {
	font-size: 2.5em;
	font-weight: 800;
	color: #9D2FC7;
	margin-bottom: 15px;
}

.numbered-tile-text {
	margin: 0 auto;
	font-size: 1.4em;
	top: 25%;
}

.background-container {
	position: fixed;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100vh;
	background: black;
}

.background-container:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
		to bottom right,
		#FF0084,
		#00CDFF
	);
	opacity: 0.6;
}

.header-content {
	position: absolute;
	text-align: center;
	margin-bottom: 50px;
	z-index: 1;
}

.button {
	display: inline-block;
	margin-top: 15px;

	padding: 10px;
	padding-left: 35px;
	padding-right: 35px;
	background: #FF8F00;
	border-radius: 5px;
	filter: drop-shadow(0 5px 3px rgba(0,0,0,0.2));
	transition: background 0.2s, filter 0.2s, transform 0.2s;
	transition-timing-function: ease-out;

	color: white;
	font-weight: 600;
	font-size: 1.1rem;
	text-decoration: none;
}

.button:hover {
	background: #FF9C1E;
	filter: drop-shadow(0 5px 5px rgba(0,0,0,0.2));
	transform: translateY(-5%);
}

.small-text {
	margin-top: 10px;
	font-size: 0.8em;
}

.background {
	position: relative;
	z-index: 0;
	/* transform: rotate(-25deg) translate3d(0,0,0);*/
	 transform: perspective(400px) rotateY(-10deg) rotateX(10deg) rotateZ(10deg);
}

.slide-row {
	display: flex;
	flex-wrap: nowrap;
	width: 120vw;
	min-width: 750px;
	transform: translate3d(0,0,0);
	will-change: transform;
}

.movie-slide {
	min-width: 200px;
	filter: blur(3px);
	width: 200px;
	height: auto;
	margin: 7px;
	opacity: 0.4;
}

.changing-title {
	opacity: 0;
	animation: fadeInOut 4s linear infinite;
}

.subheader-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.tile-container {
	visibility: hidden;
	position: absolute;
	top: -12.5vh;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-evenly;
}

@keyframes moveSlides {
	100% {
		transform: translateX(-55.5%);
	}
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
		transform: translateY(10%);
	}
	10% {
		opacity: 0.9;
		transform: translateY(0%);
	}
	90% {
		opacity: 0.9;
		transform: translateY(0%);
	}
	100% {
		opacity: 0;
		transform: translateY(-10%);
	}
}

@media (min-width: 800px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.6rem;
	}
	h3 {
		font-size: 2.2em;
	}
	.tile-container {
		visibility: visible;
	}
	.subheader-container {
		margin-top: 100px;
	}
	.panel {
		margin-right: 30px;
	}
}

